/* общее форматирование */

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: sans-serif
}

.paragraf {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.mainh1 {
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    width: 510px;
}

.heading3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
/* стили блока top */

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 42px;
}

.top_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(images/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.text-1 {
    width: 425px;
}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

/* стили блока what we do */

.what_we_do {
    padding-top: 64px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card_image {
    align-self: center;
    margin-bottom: 51px;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

/* стили блока project */

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.project_item {
    position: relative;
    flex-grow: 1;
}

.project_img {
    max-width: 100%;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 32px;
}

.project_item_margin {
    margin-right: 32px;
}

.item_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
    font-weight: 300;
}

.item_text_2 {
    right: auto;
    top: 32px;
    left: 32px;
    text-align: left;
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

/* стили футера */

.footer {
    margin-top: 112px;
    background-color: #316099;
    padding-top: 91px;
}

.footer_top {
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

.footer_text {
    width: 495px;
    display: flex;
    flex-direction: column;
}

.footer_heading {
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.footer_heading_text {
    color: #FFFFFF;
}

.footer_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #5A98D0;
    padding: 15px 80px;
    display: inline-block;
    align-self: center;

}

.footer_bottom {
    margin-top: 64px;
    padding-bottom: 64px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    color: #FFFFFF;
    opacity: 1;
}

.footer_list {
    flex-grow: 1;
    flex-basis: 33.3333%;
    margin-right: 32px;
}

.copy_text {
    color: #FFFFFF;
    opacity: 0.4;
}


/* стили второй страницы */

.contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    }

.contacts_block {
    display: flex;
}

.inp {
border: 1px solid #356EAD;
box-sizing: border-box;
border-radius: 10px;
opacity: 0.4;
}

.butt {
background: #5A98D0;
box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
text-transform: uppercase;
}

/* медиа запросы */

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_info {
        background-position: right 280px;
    }

    .catalog {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 47px;
    }

    .footer_top {
        justify-content: space-between;
        width: 520px;
        margin: 0 auto 64px;
    }

    .footer_text {
        max-width: 336px;
    }

    .footer_button {
        padding: 3px 10px;
    }

    .footer_bottom {
        /* padding-left: 124px; */
        width: 520px;
        margin: 64px auto 0;
    }

    .footer_info {
        flex-direction: column;
    }

    .footer_list {
        margin-bottom: 25px;
    }
}

@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top_info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .mainh1 {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .text-1 {
        width: 100%;
        text-align: center;
    }

    .top_button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 28px;
    }

    .what_we_do {
        padding-top: 48x;
    }

    .catalog {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text_project {
        width: 100%;
    }

    .item_text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .item_text_2 {
        left: 16px;
    }

    .project_parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer_top {
        padding: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_text {
        align-items: center;
        text-align: center;
        max-width: 667px;
    }

    .footer_heading {
        text-align: center;
    }

    .footer_button {
        margin-top: 40px;
    }

    .footer_bottom {
        margin-top: 32px;
    }

    .footer_info {
        margin-bottom: 37px;
    }

    .copyright {
        text-align: center;
    }

}